/* 波紋がふわっと広がる */
/* https://coco-factory.jp/ugokuweb/move01/7-1-13/ */
.ripples {
  /* 波紋の基点とするためrelativeを指定 */
  position: relative;
}

/* 波形の設定 */
.ripples::before {
  content: '';
  /* 絶対配置で波形の位置を決める */
  position: absolute;
  left: 30%;
  top: 0;
  /* 波形の形状 */
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* はじめは不透明 */
  opacity: 1;
  /* アニメーションの設定 */
  animation: 1s circleAnimation forwards;
}

/* 波形が広がるアニメーション */
@keyframes circleAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -8px; /* 座標調節（カーソル位置と円の中心を合わせる）*/
  left: -8px; /* 座標調節（カーソル位置と円の中心を合わせる）*/
  width: 16px; /* マウスストーカーの直径 */
  height: 16px; /* マウスストーカーの直径 */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(0, 0);
  transition-timing-function: ease-out;
  z-index: 999;
}

#coordinates {
  position: absolute;
  bottom: 0;
  left: 0;
}
